<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/output.css'}"> 
</head>
<body>



    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
    

    <div class="container bg-gray-700 w-1/2 p-4  mt-4 ">
    <h1 class="text-2 font-bold" >HELLO</h1>
    <h1>this is a home page of my applcation just trying</h1>
    <h1 data-th-text="${name}" ></h1>
    <h2 data-th-text="${message}" ></h2>
    <p data-th-text="${college}" ></p>
    <a data-th-href="${gitHub}">click here to open github</a>
    <p class=" text-6xl bg-red-700 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus beatae, id, consequuntur fugit voluptate debitis molestias porro totam minima nihil nulla reprehenderit incidunt illum asperiores. Architecto saepe repellendus magnam, nemo consequatur numquam. Dolores, reprehenderit eligendi! Minus nesciunt, officiis autem mollitia, molestias quidem perspiciatis soluta exercitationem, corrupti voluptates illum dolorum a.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>